<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Got</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="a.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script type="text/javascript" src="jq.js"></script>
    <script type="text/javascript" src="monscript.js"></script>
    
  

</head>
<body>
    <html ng-app="app">

<body ng-controller="MainCtrl">
  <div ng-hide="started">
    <!-- <center><h1>Simulateur Game of Thrones </h1>
    <h5>Dirigez une maison et tentez de survivre!</h5></center> -->
    <center><img class="fit-picture" style ="width:50%;"
    src="ag.jpg"
    alt="Grapefruit slice atop a pile of other slices" /></center>
    <hr>
    <div style="padding: 1em" class="intro">
      <h6>Premiere étape: Construire votre maison:</h6>
      <div class="content">
        <form>
          <div class="row">
            <div class="large-12 columns">
              <label>
                <input type="text" ng-model="family.name" ng-blur="checkFamilyName()" placeholder="Nom de votre maison">
              </label>
            </div>
          </div>
          <div class="row">
            <div class="medium-6 columns">
              <label>
                <span>Fonds de départ: {{family.steel}} dragons d'or </span>
                <input type="range" min=1000 max=10000 step=50 ng-model="family.steel">
              </label>
              <label>
                <span>Garnison de départ: {{family.soldiers}} Soldats</span>
                <input type="range" min=20 max=150 ng-model="family.soldiers">
              </label>
            </div>
            <div class="medium-6 columns">
              <div>Membre de la famille: {{family.members.length}}/8</div>
              <div ng-repeat="member in family.members track by $index" class="deletable alert-box" ng-click="family.members.splice($index, 1)">{{member.name}} <a href="#" class="close">&times;</a></div>
              <div ng-show="family.members.length === 0">Votre famille est vide. Voulez vous ajouter des membres?
              </div>
              <div ng-show="family.members.length<8">
                <div style="padding:0.5em">
                  <div class="row collapse">
                    <div class="small-9 columns">
                      <input type="text" ng-model="newMemberName" placeholder="Nouveau membre de votre Maison">
                    </div>
                    <div class="small-3 columns">
                      <button class="postfix" ng-click="addMember(newMemberName)">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row text-center">
        <div>
          <label>Vitesse: Lent
            <input type="range" min=0 max=19 ng-model="pace">Rapide
          </label>
        </div>
        <hr>

        <a href="#" class="button [radius round]" ng-disabled="family.name.length == 0 || family.members.length == 0" ng-click="start()">A la conquête du thrône !</a>
      </div>
    </div>
  </div>
  <div ng-show="started">
    <h3>Maison {{family.name}} - Jour {{family.day}}</h3>
    <div class="row" id="head">
      <div class="small-6 columns">
        Fonds: {{family.steel}} dragons d'or 
        <br>
        <button ng-click="collectTaxes()" ng-disabled="taxCD">Collecter les Taxes</button>
      </div>
      <div class="small-6 columns">
        <div>Soldats: {{family.soldiers}}</div>
        <div class="button-bar">
          <div>Recruter des soldats:</div>
          <ul class="button-groups rounds" style="font-size:75%">
            <li><a href="#" class="button" ng-click="hireSoldiers(10)" ng-disabled="family.steel < 100">10  (100 Dragons d'or)</a></li>
            <li><a href="#" class="button" ng-click="hireSoldiers(100)" ng-disabled="family.steel < 1000">100  (1K Dragons d'or)</a></li>
            <li><a class="button" ng-click="hireSoldiers(family.steel/10)">Recrutement max [{{family.steel/10 | number:0}}]</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="map">
        <div class="small-6 columns">
           
            <div style="max-height: 250px; overflow: auto;">
                <h5>Journal</h5>
              <div ng-repeat="log in logs track by $index" class="log">{{log}}</div>
            </div>
          </div>
      
      <div class="small-6 columns" ngA-repeat="place in places">
          <h5>Places:</h5>
        <!-- {{place.name}} - Maison {{place.house}} -->
        <img class="fit-picture" style="width:70%"
     src="map.gif"
     alt="Grapefruit slice atop a pile of other slices" />
      </div>
      <hr>
    </div>
    <!-- <div class="row">
      <div class="small-6 columns">
        <h5>Journal</h5>
        <div style="max-height: 250px; overflow: auto;">
          <div ng-repeat="log in logs track by $index" class="log">{{log}}</div>
        </div>
      </div> -->
      <div class="small-6 columns">
        <h5>Famille:</h5>
        <div ng-repeat="member in family.members track by $index" class="family" ng-class="{dead:!member.alive}">
          <div>
            {{member.name}}
          </div>
          <div>Lieu: {{member.location}}</div>
        </div>
        <div class="box">
          <h5>Ennemies</h5>
          <div ng-repeat="person in family.enemies track by $index" class="deletable" ng-click="confirmAssassination(person)">{{person}}</div>
        </div>
        <div class="box">
          <h5>Allies</h5>
          <div ng-repeat="person in family.allies track by $index">{{person}}</div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align:center; font-size:80%; color: #444;">
    <hr>
    

  </div>
  <div ng-show="showAssassinOptions" class= "modal">
    Alors, vous saihaitez tuer {{assassinationTarget}}? Qui souhaitez vous engager?
    <hr>
    <div class="button-group">
      <button class="button tiny" ng-repeat="assassin in assassins" ng-click="orderKill(assassin, assassinationTarget)" ng-disabled="assassin.price > family.steel">{{assassin.name}} ({{assassin.price}} Gold)</button>
      <button class="button tiny" ng-click="cancelAssassination()">Annuler</button>
    </div>
  </div>
  <div ng-show="gameOver" class="modal">
    <h3>{{gameOver}}</h3>
  </div>
</body>

</html>
</body>
</html>