*{
    transition: all 0.2s ease
  }

  

  label>span{
    width: 200px;
    display: inline-block
  }
  
  .deletable{
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .dead {
    text-decoration: line-through;
    background: #E41F1E;
    color: #ccc;
    opacity: 0.8;
  }
  
  .deletable:hover{
    background-color:#E41F1E
  }
  
  .modal{
    position: fixed;
    top:0;
    left:0;
    right:0;
    height: 140px;
    overflow:auto;
    border-bottom: solid 1px black;
    padding: 1em;
    background: #E41F1E;
  }
  
  .log{
    font-size: 80%;
    border-bottom: solid 1px #3e3e3e;
  }
  
  .family{
    padding: 0.25em;
    border: solid 1px #3e3e3e;
    border-radius: 1em;
  }
  
  .button{
    padding: 0.25em 0.5em;
  }
  
  .place{
    float: left;
    width: 300px;
    padding: 10px;
  }
  
  .box{
    margin: 0.25em;
    padding: 0.25em;
    border: solid 1px #3e3e3e;
  }
  
  .box h5{
    text-decoration:underline
  }

  body{
    font-family: 'Cinzel Decorative', cursive !important;
  }
.button-groups {
  /* width: 45%;
  float: left; */
  margin-bottom: 10px;
  padding: 10px 0;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  font-size: 16px;
  /* text-align: center; */
  cursor: pointer;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
 
#map{
  display: flex;
  flex-direction: row;
}
#head{
  display: flex;
  flex-direction: row;
}

#taxes{
  margin-top:45px;
}